[submodule "backend"]
	path = backend
	url = https://github.com/Ateliers-io/novasketch-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Ateliers-io/novasketch-frontend.git
